/* -----Body----- */

body {
    background-color: #d4d4d4;
}

/* -----Header----- */

.header_container {
    max-width: 1140px;
    background-color: #d0e4fe;
    border: 2px solid #FFFFFF;
}

/* -----Main section----- */

.main_container {
    max-width: 1140px;
    background-color: #FFFFFF;
}

/* -----Footer----- */

.footer_container {
    max-width: 1140px;
    background-color: #147ED7;
    border: 2px solid #FFFFFF;
}

/* -----Media Queries----- */

