@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Caveat:wght@400;500;600;700&family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 90px;
}

/* -----Special text----- */

.general-font {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

/* -----Header----- */

.custom-bg {
    background-color: #d8e9fe;
}

.logo {
    width: 215px;
    height: auto;
}

.nav-item {
    padding: 0px 10px;
}

.navbar-light .navbar-nav .nav-link {
    font-family: "Caveat Brush", sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    color: #3066be;
}

.navbar-light .nav-item.active .nav-link,
.navbar-light .nav-item:focus .nav-link,
.navbar-light .nav-item:hover .nav-link {
    color: #686868;
}

/* -----Footer----- */

.footer-container {
    padding: 10px 0px;
    background-color: #3066be;
    color: #ffffff;
}

.footer-heading {
    font-family: "Caveat", sans-serif;
    font-size: 2.25em;
    font-weight: bold;
}

.cv-pdf i {
    font-size: 1.25rem;
    text-align: center;
    color: #d8e9fe;
    transition: width 1s, height 1s, transform 1s;
    -moz-transition: width 1s, height 1s, transform 1s;
    -webkit-transition: width 1s, height 1s, transform 1s;
    -o-transition: width 1s, height 1s, transform 1s;
}

.cv-pdf i:hover {
    color: #ffffff;
    transform: scale(1.3);
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);        
}

.social-links li a i {
    height: 35px;
    width: 35px;
    padding: 14px 0;
    border-radius: 50%;
    line-height: 8px;
    font-size: 1.5rem;
    text-align: center;
    color: #3066be;
    background: #d8e9fe;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    color: #686868;
    background: #ffffff;
    transform: scale(1.3);
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
}

.footer-block {
    padding: 5px 15px;
}

/* -----Introduction----- */

.hero-images {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 36%;
    position: relative;
    height: 76vh;
    width: auto;
}

.index-hero-image {
    background-image: url("../images/workspace.jpg");    
}

.profile-hero-image {
    background-image: url("../images/cycling.jpg");
}

.contact-hero-image {
    background-image: url("../images/collaborate.jpg");
}

.hero-text h3 {
    font-family: "Caveat Brush", sans-serif;
    font-size: 1.75rem;
    color: #3066be;
}

.hero-text h4 {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    line-height: 20px;
}

.hero-text {
    position: absolute;
    bottom: 20px;
    right: 0px;
    margin: 0 10px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #ffffff;
    border-radius: 1rem;
    padding: 10px;
    text-align: center;
    letter-spacing: 1px;
}

/* -----Skills----- */

.main-container {
    /* first value in margin accounts for top & bottom, second for left & right */
    margin: 15px 0px;
}

.skills-title {
    font-family: "Caveat", sans-serif;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: #3066be;
}

.block-container {
    height: 175px;
    width: auto;
    margin: 10px 0px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px #d4d4d4;
    background-color: #d8e9fe;
    animation-name: stretch;
    animation-delay: .5s;
    animation-duration: .5s;
    animation-timing-function: ease-out;
}

@keyframes stretch {
    0% {
        transform: scale(.5);
    }
    100% {
        transform: scale(1);
    }
}

.skills-heading {
    margin-bottom: 15px;
    font-family: "Caveat Brush", sans-serif;
    font-size: 1.5rem;
    text-align: center;
    color: #686868;
}

.skill-logo {
    height: 25px;
    width: 25px;
}

.skill-logo img {
    margin-bottom: 12px;
}

/* -----Progress bar----- */

.progress {
    position: relative;
    height: 25px;
    width: auto;
    line-height: 2;
    margin-bottom: 12px;
    border: 1px solid #3066be;
}

.progress-type {
    position: absolute;
    width: 140px;
    padding-left: 8px;
    background-color: rgba(25, 25, 25, 0.2);
    font-family: "Montserrat", sans-serif;
    font-size: 0.75rem;
    color: #ffffff;
}

.html5-bar {
    background-color: #f06529;
}

.css3-bar {
    background-color: #2965f1;
}

.bootstrap4-bar {
    background-color: #7952b3;
}

.mysql8-bar {
    background-color: #00758F;
}

.mssql-bar {
    background-color: #800000;
}

.php7-bar {
    background-color: #B4A7D6;
}

.balsamiq4-bar {
    background-color: #a60000;
}

.dreamweaver20-bar {
    background-color: #89EF08;
}

.photoshop21-bar {
    background-color: #8BC3FC;
}

/* -----Carousel----- */

.carousel-portfolio {
    margin-top: 10px;
    padding: 20px 0;
    background-color: #e8e8e8;    
}

/* -----Media queries----- */

@media (min-width: 576px) {    
    .underline {
        text-decoration: none;
        position: relative;
    }

    .underline:after {
        position: absolute;
        content:'';
        height: 4px;
        bottom: 0px;

        margin: 0 auto;
        left: 0;
        right: 0;
        width: 50%;
        background: #ffffff;

        -o-transition: .5s;
        -ms-transition: .5s;
        -moz-transition: .5s;
        -webkit-transition: .5s;
        transition: .5s;
    }

    .underline:hover:after {
        width: 80%;
        background: #3066be;
    }

    .border-md-right {
        border-right: 3px solid #ffffff;
    }

    .hero-text h4 {
        line-height: 25px;
    }

    .footer-block {
        padding: 0px 15px;
    }
}

@media (min-width: 675px) {
    .logo {
        width: 225px;
        height: auto;
    }
    
    .nav-item {
        padding: 0px 15px;
    }

    .navbar-light .navbar-nav .nav-link {
        font-size: 1.5rem;
    }

    .hero-text {    
        margin: 0;
        right: 15px;
        width: 25rem;
    }

    .hero-text h4 {
        line-height: 25px;
    }
}

@media (min-width: 1024px) {
    body {
        padding-top: 100px;
    }
    
    .logo {
        width: 260px;
        height: auto;
    }

    .hero-images {
        height: 60vh;
    }

    .navbar-light .navbar-nav .nav-link {
        font-size: 1.875rem;
    }

    .hero-text {    
        margin: 0;
        padding: 15px;
        bottom: 20px;
        right: 20px;
        width: 30rem;
        letter-spacing: 3px;
    }
}

@media (min-width: 1440px) {   
    body {
        padding-top: 125px;
    }
    
    .logo {
        width: 300px;
        height: auto;
    }

    .hero-images {
        height: 70vh;
    }

    .hero-text {    
        margin: 0;
        padding: 25px;
        bottom: 90px;
        right: 90px;
        width: 40rem;
        letter-spacing: 4px;
    }
}