@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Caveat:wght@400;500;600;700&family=Montserrat:wght@300;400;500;600;700&display=swap');

/*-----General style of website portfolio-----*/

/* eliminates default margin & padding for all browsers */
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* allows all content to be visible below the fixed-top navbar */
body {
    padding-top: 95px;
}

.general-font {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

/* -----Header----- */

.bg-light-blue {
    background-color: #d8e9fe;
}

.logo {
    width: 215px;
    height: auto;
}

.nav-item {
    text-align: right;
}

.navbar-light .navbar-nav .nav-link {
    font-family: "Caveat Brush", sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    color: #3066be;
}

.navbar-light .nav-item.active .nav-link,
.navbar-light .nav-item:focus .nav-link,
.navbar-light .nav-item:hover .nav-link {
    color: #686868;
}

/* -----Footer----- */

.footer-container {
    padding: 10px 0px;
    background-color: #3066be;
    color: #ffffff;
}

.footer-heading {
    font-family: "Caveat", sans-serif;
    font-size: 2.25em;
    font-weight: bold;
}

.cv-pdf i {
    font-size: 1.25rem;
    text-align: center;
    color: #d8e9fe;
    transition: width 1s, height 1s, transform 1s;
    -moz-transition: width 1s, height 1s, transform 1s;
    -webkit-transition: width 1s, height 1s, transform 1s;
    -o-transition: width 1s, height 1s, transform 1s;
}

.cv-pdf i:hover {
    color: #ffffff;
    transform: scale(1.3);
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
}

.social-links li a i {
    height: 35px;
    width: 35px;
    padding: 14px 0;
    border-radius: 50%;
    line-height: 8px;
    font-size: 1.5rem;
    text-align: center;
    color: #3066be;
    background: #d8e9fe;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    color: #686868;
    background: #ffffff;
    transform: scale(1.3);
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
}

.footer-block {
    margin-top: 5px;
    padding: 5px 15px;
}

/* -----Hero images & text----- */

.hero-images {
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 350px;
    width: auto;
}

.index-hero-image {
    background-image: url("../images/workspace.jpg");
    background-position: 36% 0%;
}

.contact-hero-image {
    background-image: url("../images/collaborate.jpg");
    background-position: 30% 0%;
}

.index-hero-text {
    position: absolute;
    bottom: 20px;
    right: 0px;
    margin: 0 10px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #ffffff;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    letter-spacing: 1px;
}

.index-hero-text h3 {
    font-family: "Caveat Brush", sans-serif;
    color: #3066be;
}

.index-hero-text h4 {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    line-height: 22px;
}

.contact-hero-text {
    position: absolute;
    top: 15px;
    right: 10px;
    text-align: center;
    letter-spacing: 1px;
}

.contact-hero-text h1 {
    font-family: "Caveat Brush", sans-serif;
    color: #ffffff;
}

/* -----Skills----- */

.main-container {
    margin: 20px 0px;
}

.skills-title {
    margin-bottom: 10px;
    font-family: "Caveat", sans-serif;
    font-weight: bold;
    text-align: center;
    color: #3066be;
}

.block-container {
    height: 185px;
    width: auto;
    margin: 20px 0px;
    padding: 15px 0px;
    padding-left: 20px;
    border-radius: 15px;
    box-shadow: 0 0 5px 5px #d4d4d4;
    background-color: #d8e9fe;
    animation-name: stretch;
    animation-delay: .5s;
    animation-duration: .5s;
    animation-timing-function: ease-out;
}

@keyframes stretch {
    0% {
        transform: scale(.5);
    }

    100% {
        transform: scale(1);
    }
}

.skills-heading {
    margin-bottom: 15px;
    font-family: "Caveat Brush", sans-serif;
    text-align: center;
    color: #686868;
}

.skill-logo {
    height: 25px;
    width: 25px;
}

.skill-logo img {
    margin-bottom: 15px;
}

/* -----Progress bar----- */

.progress {
    position: relative;
    height: 25px;
    width: auto;
    line-height: 2;
    margin-bottom: 14px;
    border: 1px solid #3066be;
}

.progress-type {
    position: absolute;
    width: 140px;
    padding-left: 8px;
    background-color: rgba(25, 25, 25, 0.2);
    font-family: "Montserrat", sans-serif;
    font-size: 0.75rem;
    color: #ffffff;
}

.html5-bar {
    background-color: #f06529;
}

.css3-bar {
    background-color: #2965f1;
}

.bootstrap4-bar {
    background-color: #7952b3;
}

.mysql8-bar {
    background-color: #00758F;
}

.mssql-bar {
    background-color: #800000;
}

.php7-bar {
    background-color: #B4A7D6;
}

.balsamiq4-bar {
    background-color: #a60000;
}

.dreamweaver20-bar {
    background-color: #89EF08;
}

.photoshop21-bar {
    background-color: #8BC3FC;
}

/* -----Carousel----- */

.carousel-portfolio {
    padding: 20px 5px;
    background-color: #e8e8e8;
}

/* -----Media queries----- */

@media (min-width: 500px) {
    .block-container {
        max-width: 470px;
        margin: 20px auto;
        padding-left: 25px;
    }
}

@media (min-width: 576px) {
    .nav-item {
        padding: 0px 7px;
    }

    .link-md-separator {
        border-right: 3px solid #ffffff;
    }
}

@media (min-width: 610px) {
    .nav-item {
        padding: 0px 10px;
    }

    .contact-hero-text {    
        top: 20px;
        right: 20px;
    }
}

@media (min-width: 700px) {
    .block-container {
        height: 240px;
        max-width: 550px;
        margin: 20px auto;
        padding-left: 30px;
    }

    .skill-logo img {
        margin-top: 6px;
        margin-bottom: 29px;
    }

    .progress {
        height: 35px;
        margin-bottom: 24px;
    }

    .progress-type {
        font-size: 1rem;
    }
}

@media (min-width: 768px) {
    .index-hero-text {
        width: 325px;
        right: 20px;
        margin: 0px;
    }

    .index-hero-text h4 {
        margin: 0 10px;
        line-height: 23px;
    }

    .contact-hero-text h1 {
        font-size: 2.75rem;
    }
}

@media (min-width: 1024px){
    body {
        padding-top: 120px;
    }
    
    .logo {
        width: 285px;
        height: auto;
    }

    .navbar-light .navbar-nav .nav-link {
        font-size: 1.75rem;
    }

    .nav-item {
        padding: 0px 15px;
    }

    .underline {
        text-decoration: none;
        position: relative;
    }

    .underline:after {
        position: absolute;
        content:'';
        height: 4px;
        bottom: 0px;

        margin: 0 auto;
        left: 0;
        right: 0;
        width: 50%;
        background: #ffffff;

        -o-transition: .5s;
        -ms-transition: .5s;
        -moz-transition: .5s;
        -webkit-transition: .5s;
        transition: .5s;
    }

    .underline:hover:after {
        width: 80%;
        background: #3066be;
    }

    .hero-images {
        height: 65vh;
    }

    .index-hero-text {
        bottom: 45px;
        right: 45px;
        width: 390px;
    }

    .index-hero-text h4 {
        margin: 0 10px;
        line-height: 30px;
    }

    .main-container {
        margin: 30px 0px;
    }

    .skills-title {
        margin-bottom: 30px;
    }

    .contact-hero-text h1 {
        font-size: 3rem;
    }
}

@media (min-width: 1440px){
    .index-hero-text {
        bottom: 50px;
        right: 75px;
        width: 550px;
    }

    .index-hero-text h3 {
        font-size: 2.5rem;
    }

    .index-hero-text h4 {
        margin: 0 25px;
        line-height: 40px;
        font-size: 1.25rem;
    }
}