@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* -----Special text----- */

.general-font {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

/* -----Header----- */

.custom-bg {
    background-color: #d8e9fe;
}

.logo {
    width: 200px;
    height: auto;
}

.nav-item {
    padding: 0px 15px;
}

.navbar-light .navbar-nav .nav-link {
    font-family: "Ar Cena", sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    color: #3066be;
}

.navbar-light .nav-item.active .nav-link,
.navbar-light .nav-item:focus .nav-link,
.navbar-light .nav-item:hover .nav-link {
    color: #686868;
}

/* -----Footer----- */

.footer-container {
    background-color: #3066be;
    color: #ffffff;
}

.footer-heading {
    font-family: "Freestyle Script", sans-serif;
    font-size: 2.75em;
    font-weight: bold;
}

.cv-pdf i {
    font-size: 1.25rem;
    text-align: center;
    color: #d8e9fe;
    transition: width 1s, height 1s, transform 1s;
}

.cv-pdf i:hover {
    color: #ffffff;
    transform: scale(1.3);
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);        
}

.social-links li a i {
    height: 35px;
    width: 35px;
    padding: 14px 0;
    border-radius: 50%;
    font-size: 1.5rem;
    line-height: 8px;
    text-align: center;
    color: #3066be;
    background: #d8e9fe;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    color: #686868;
    background: #ffffff;
    transform: scale(1.3);
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
}

.footer-block {
    padding: 15px;
}

/* -----Media queries----- */
@media (min-width: 576px) {
    .underline {
        text-decoration: none;
        position: relative;
    }

    .underline:after {
        position: absolute;
        content:'';
        height: 4px;
        bottom: 0px;

        margin: 0 auto;
        left: 0;
        right: 0;
        width: 50%;
        background: #ffffff;

        -o-transition: .5s;
        -ms-transition: .5s;
        -moz-transition: .5s;
        -webkit-transition: .5s;
        transition: .5s;
    }

    .underline:hover:after {
        width: 80%;
        background: #3066be;
    }

    .border-md-right {
        border-right: 3px solid #ffffff;
    }
}

@media (min-width: 675px) {
    .navbar-light .navbar-nav .nav-link {
        font-size: 1.5rem;
    }
}

@media (min-width: 1024px) {
    .logo {
        width: auto;
        height: auto;
    }
    
    .navbar-light .navbar-nav .nav-link {
        font-size: 1.875rem;
    }
}